= simple_form_for(@track) do |f|

  -if @album.errors.any?
    #error_explanation
      %h2= "#{pluralize(@album.errors.count, "error")} prohibited this album from being saved:"
      %ul
        - @album.errors.full_messages.each do |msg|
          %li= msg

  .form-inputs
    = f.input :title
    = f.association :author
    = f.input :track_number
    = f.association :album

  .form-actions
    = f.button :submit
