= simple_form_for(@track) do |f|

  -if @track.errors.any?
    #error_explanation
      %h2= "#{pluralize(@track.errors.count, "error")} prohibited this album from being saved:"
      %ul
        - @track.errors.full_messages.each do |msg|
          %li= msg

  .form-inputs
    = f.input :track_number
    = f.input :title
    = f.file_field :song
    = f.association :author
    = f.input :token_inputs, label: "Tags:", input_html: { data:{ load: @track.tags} }
    = f.association :album

  .form-actions
    = f.button :submit
