%p#notice= notice

%p
  %b Title:
  = @track.track_number 
  =" " +  @track.title
%p
  %b Song:
  = audio_tag(@track.song.url, controls: true)

  
%p
  %b Title:
  =tags_links(@track)
%p
  %b Author:
  =link_to @track.author.name, author_path(@track.author)
%p
  %b Album:
  = link_to @track.album.title, album_path(@track.album)

= link_to 'Edit', edit_track_path(@track)
\|
= link_to 'Back', tracks_path
