= simple_form_for(@author) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :token_inputs, label: "Tags:", input_html: { data:{ load: @author.tags} }

  .form-actions
    = f.button :submit
