%p#notice= notice

%p
  %b Name:
  = @author.name
%p
  %b Description:
  = @author.description
%p
  %b Tags:
  = tags_links(@author)

= link_to 'Edit', edit_author_path(@author)
\|
= link_to 'Back', authors_path

%h1 Listing albums

%table
  %tr
    %th Title
    %th
    %th
    %th

  - @author.albums.each do |album|
    %tr
      %td= album.title
      %td= link_to 'Show', album
      %td= link_to 'Edit', edit_album_path(album)
      %td= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete
