= simple_form_for @album do |f|
 
  -if @album.errors.any?
    #error_explanation
      %h2= "#{pluralize(@album.errors.count, "error")} prohibited this album from being saved:"
      %ul
        - @album.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :title
  .field
    =label_tag "Description:"
    = f.input :description, label: false
  .field
    = f.input :tag_id
  .field
    = f.association :author
  .actions
    = f.submit 'Save'
