= simple_form_for @search, url: albums_path, :method=>'get' do |s|
  = s.label :title_cont, "Title contains"
  = s.text_field :title_cont
  = s.label :description_cont, "Description contains"
  = s.text_field :description_cont
  -# = s.input :updated_at_gteq, as: 'date', label: "Date between"
  -# = s.input :updated_at_lteq, as: 'date', label: "and"

  = s.submit :search


%h1 Listing albums

%table
  %tr
    %th Title
    %th Description
    %th Tags
    %th Author
    %th
    %th
    %th

  - @albums.each do |album|
    %tr
      %td= album.title
      %td= album.description
      %td= tags_links(album)
      %td= link_to album.author.name, author_path(album)
      %td= link_to 'Show', album
      %td= link_to 'Edit', edit_album_path(album)
      %td= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Album', new_album_path
