%html
  %head
    %title Tracklist
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 
  %body
  #header
    #menu
      %ul
        %li= link_to "Home", root_path 
        %li= link_to "Authors", authors_path 
        %li= link_to "Tracks", tracks_path 

  = yield
  #footer
    %p
      fray make this
